CLERK_SECRET_KEY=sk_test_REPLACE_ME
CLERK_PUBLISHABLE_KEY=pk_test_REPLACE_ME
FLW_SECRET_KEY=FLWSECK_TEST_REPLACE_ME
FLW_SECRET_HASH=REPLACE_WITH_FLUTTERWAVE_WEBHOOK_SECRET_HASH
PAGESPEED_API_KEY=REPLACE_WITH_GOOGLE_PAGESPEED_API_KEY
